<h1>Rogue Agents Global Gym</h1>
	<nav>
	<ul>
		<li><a href="../index">Home</a></li>
		<li><a href="../workouts">Workouts</a></li>
		<li><a href="../exercise">Exercises</a></li>
		<li><a href="../category">Categories</a></li>
		<li><a href="../equipment">Equipment</a></li>
		<li><a href="../Exercises_have_Equipment">Exercices have Equipment</a></li>
		<li><a href="../Exercises_have_Categories">Exercises have Categories</a></li>
	</ul>
	</nav>